
.list-group-item {
    display: block;
    white-space:nowrap;
    overflow:hidden;
}

.notification {
    height:150px; 
    overflow:scroll;
}

.message-list {
    height:400px;
    overflow:scroll; 
    border:solid 1.5px lightgrey;
}

.message {
    padding: 0.25rem 1.25rem;
}

.self-message {
    text-align: right;
}

html,body {
   height: 100%;
   width: 100%;

}



